{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign tab = block.settings.tab
  assign collection_list = block.settings.collection_list
  assign collection_metafield = block.settings.collection_metafield
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{%- liquid
  assign aspect_ratio = section.settings.aspect_ratio
  assign overlay = section.settings.overlay
  assign min_width_desktop = section.settings.min_width_desktop
  assign min_width_mobile = section.settings.min_width_mobile
  assign min_width_mobile = section.settings.min_width_mobile
  assign title_type = section.settings.title_type

  assign collection_group = collection.metafields.accelerate[collection_metafield].value | default: collection_list
-%}

<section class="absolute inset-0 h-full opacity-0 pointer-events-none transition-all ac:opacity-100 ac:pointer-events-auto ac:relative {% if tabIndex == 0 %}active{% endif %}"
         data-tabs-content="{{ tabIndex }}">
  <div class="relative pb-6"
       data-scroll-slider>
    <main class="grid gap-4 sm:gap-6 grid-flow-col-dense overflow-x-auto scrollbar-none relative snap-mandatory snap-x scroll-smooth auto-cols-min scroll-pl-0"
          style="--grid-width-mobile: {{ min_width_mobile }}px; --grid-width-desktop: {{ min_width_desktop }}px;"
          data-scroll-container>
      {% for item in collection_group %}
        <a href="{{ item.url }}"
           data-scroll-item
           class="block md:w-[var(--grid-width-desktop)] w-[var(--grid-width-mobile)]">
          <figure class="">
            <picture class="block relative {{ aspect_ratio }} w-full">{% render '_image', image: item.featured_image, class: "absolute w-full h-full object-cover", placeholder: 'collection-1' %}</picture>
            <figcaption class="mt-2">{% render 'typography', content: item.title, type: title_type %}</figcaption>
          </figure>
        </a>
      {% endfor %}
    </main>

    <footer class="max-w-[calc(var(--layout-page-width)-4rem)] mx-auto relative mt-4">
      <div data-scroll-controls
           class="relative grid hidden select-none">
        {% render 'scroll-bar-elements', element: 'scrollbar' %}
      </div>
    </footer>
  </div>
</section>