<!doctype html>
<html class="no-js"
      lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="theme-color"
        content="">
  <link rel="canonical"
        href="{{ canonical_url }}">
  <link rel="preconnect"
        href="https://cdn.shopify.com"
        crossorigin>
  <link rel="preload"
        as="style"
        href="{{ 'tailwind.css' | asset_url }}">
  <link rel="preload"
        as="script"
        href="{{ 'theme.js' | asset_url }}">

  {%- if settings.branding_favicon != blank -%}
    <link rel="icon"
          type="image/png"
          href="{{ settings.branding_favicon | image_url: width: 32, height: 32 }}">
  {%- endif -%}

  {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
    <link rel="preconnect"
          href="https://fonts.shopifycdn.com"
          crossorigin>
  {%- endunless -%}

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>
  {% if page_description %}
    <meta name="description"
          content="{{ page_description | escape }}">
  {% endif %}

  {% render 'meta-tags' %}

  {{ content_for_header }}

  <script>
    window['missingImageAltTags'] = [];
  </script>
  <link rel="stylesheet"
        href="{{ 'tailwind.css' | asset_url }}">
  <script type="module"
          src="{{ 'theme.js' | asset_url }}"
          defer></script>

  <script type="application/json"
          data-color-swatches>
    {% render 'color-swatches.json' %}






  </script>

  <style>
    {% render '_settings' %}
  </style>

  {% comment %} TODO: Preload Fonts{% endcomment %}

  {%- unless settings.font_heading_1.system? -%}
    <link rel="preload"
          as="font"
          href="{{ settings.font_heading_1 | font_url }}"
          type="font/woff2"
          crossorigin>
  {%- endunless -%}

  {%- unless settings.font_heading_2.system? -%}
    <link rel="preload"
          as="font"
          href="{{ settings.font_heading_2 | font_url }}"
          type="font/woff2"
          crossorigin>
  {%- endunless -%}

  {%- unless settings.font_heading_3.system? -%}
    <link rel="preload"
          as="font"
          href="{{ settings.font_heading_3 | font_url }}"
          type="font/woff2"
          crossorigin>
  {%- endunless -%}

  {%- unless settings.font_heading_4.system? -%}
    <link rel="preload"
          as="font"
          href="{{ settings.font_heading_4 | font_url }}"
          type="font/woff2"
          crossorigin>
  {%- endunless -%}

  {%- unless settings.font_body.system? -%}
    <link rel="preload"
          as="font"
          href="{{ settings.font_body | font_url }}"
          type="font/woff2"
          crossorigin>
  {%- endunless -%}


  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
  </script>
  <script>
    window.shop = {% render '_json_static-gen-sloooow', input: shop, type: 'shop' %};
    window.routes = {% render '_json_static-gen-sloooow', input: routes, type: 'routes' %};
  </script>

  {% if customer.has_account %}
    {% case request.path %}
      {% when '/account/register' or '/account/register' or '/account/login' %}
        <script>
          window.location.href = `{{ request.origin }}{{ routes.account_url }}`;
        </script>
    {% endcase %}
  {% endif %}
</head>

<body class="min-h-screen text-theme-text bg-theme-bg bg-theme-gradient"
      style="scroll-behavior:auto !important;">
  <header class="header-position top-0 z-40 bg-theme-bg">
    {% section 'password-header' %}
  </header>

  <main class="min-h-full">
    {{ content_for_layout }}
  </main>

  {% section 'password-footer' %}

</body>
</html>
