{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign logo = section.settings.logo
  assign logo_height = section.settings.logo_height
  assign menu = section.settings.menu
  assign center_logo = section.settings.center_logo
  assign height = section.settings.height
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{%- liquid
  assign logo_height = section.settings.height | times: section.settings.logo_height | divided_by: 100
  assign logo = settings[section.settings.logo]
-%}

{% case center_logo %}
  {% when true %}
    {% assign positionClasses = "lg:flex-grow lg:basis-0 lg:justify-center" %}
  {% when false %}
    {% assign positionClasses = "flex-grow basis-0" %}
{% endcase %}

<section class="header--desktop shadow-md z-50 relative bg-theme-bg {{ color_scheme }}"
         data-section="header">
  <div class="container flex flex justify-around items-center w-full h-header">
    <div class="flex bg-theme-bg z-10 min-w-min lg:min-w-max max-h-full pr-4 md:pr-0 {{ positionClasses }} {{ class }}">
      {% if logo %}
        {% render "_image", image: logo, height: logo_height, default_alt: shop.name, class: "" %}
      {% else %}
        <h2 class="text-3xl font-bold whitespace-nowrap">{{ shop.name }}</h2>
      {% endif %}
    </div>
  </div>
</section>

{% assign topbarSpacingMultiplier = 0 %}
{% if position == 'sticky' %}
  {% assign topbarSpacingMultiplier = 1 %}
{% endif %}

<style>
  :root {
    --header-height: {{ height }}px;
    --header-position: {{ position }};
    --top-bar-spacing-multiplier: {{ topbarSpacingMultiplier }};
    --top-bar-spacing: calc((var(--header-height, 0px) + var(--announcement-height, 0px) + var(--free-shipping-bar-height, 0px)) * var(--top-bar-spacing-multiplier));
  }
</style>

{% render '_color-group-access', colorGroup: section.settings.color_scheme, paddingTop: section.settings.padding_top, paddingBottom: section.settings.padding_bottom %}
{% schema %}
{
  "name": "t:sections.password_header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "default": "bg-theme-bg text-theme-text color-inherit",
      "options": [
        {
          "value": "bg-theme-bg text-theme-text color-inherit",
          "label": "t:sections.password_header.settings.color_scheme.options__1.label"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-1",
          "label": "t:sections.password_header.settings.color_scheme.options__2.label"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-2",
          "label": "t:sections.password_header.settings.color_scheme.options__3.label"
        },
        {
          "value": "bg-theme-bg text-theme-text color-group-3",
          "label": "t:sections.password_header.settings.color_scheme.options__4.label"
        }
      ],
      "label": "t:sections.password_header.settings.color_scheme.label"
    },
    {
      "type": "select",
      "id": "logo",
      "default": "branding_logo_dark_on_light",
      "options": [
        {
          "value": "branding_logo_dark_on_light",
          "label": "t:sections.password_header.settings.logo.options__1.label"
        },
        {
          "value": "branding_logo_light_on_dark",
          "label": "t:sections.password_header.settings.logo.options__2.label"
        },
        {
          "value": "branding_logo_none",
          "label": "t:sections.password_header.settings.logo.options__3.label"
        }
      ],
      "label": "t:sections.password_header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_height",
      "label": "t:sections.password_header.settings.logo_height.label",
      "default": 80,
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.password_header.settings.menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.password_header.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "center_logo",
      "label": "t:sections.password_header.settings.center_logo.label",
      "default": false
    },
    {
      "type": "range",
      "id": "height",
      "label": "t:sections.password_header.settings.height.label",
      "default": 75,
      "min": 40,
      "max": 200,
      "step": 5,
      "unit": "px"
    }
  ]
}
{% endschema %}
